In [2]:
import pandas as pd
import numpy as np
import os, sys
# data_folder = '/Users/a80099928/PycharmProjects/dacon_star2_data/'
data_folder = 'data2/'
pd.options.display.max_rows=1000

In [38]:
train_df = pd.read_csv(os.path.join(data_folder,'train.csv'))

In [3]:
%%time
test_df = pd.read_csv(os.path.join(data_folder,'test.csv'))

CPU times: user 20.1 s, sys: 7.79 s, total: 27.9 s
Wall time: 37.7 s

In [3]:
train_df.head()

,game_id,winner,time,player,species,event,event_contents
0,0,1,0.00,0,T,Camera,"at (145.25, 21.5078125)"
1,0,1,0.00,1,T,Camera,"at (22.75, 147.0078125)"
2,0,1,0.02,0,T,Selection,['OrbitalCommand [3080001]']
3,0,1,0.02,0,T,Ability,(1360) - TrainSCV
4,0,1,0.14,0,T,Camera,"at (142.99609375, 24.50390625)"

# Outlier

- time이 0부터 시작하지 않는 게임이 있음

In [22]:
train_df[['game_id','time']].groupby('game_id').min().time.value_counts()

0.00    38850
0.01       18
0.03        2
0.02        1
0.11        1
Name: time, dtype: int64

In [31]:
temp = train_df[['game_id','time']].groupby('game_id').min()
temp[temp.time == 0.11]

         time
game_id
5198     0.11

In [32]:
train_df[train_df.game_id==5198].head(100)

,game_id,winner,time,player,species,event,event_contents
8916351,5198,0,0.11,0,T,Selection,['OrbitalCommand [3100001]']
8916352,5198,0,0.12,0,T,Ability,(1360) - TrainSCV
8916353,5198,0,0.12,1,P,Selection,['Nexus [3440001]']
8916354,5198,0,0.12,1,P,Ability,(15E0) - TrainProbe
8916355,5198,0,0.13,1,P,Camera,"at (27.05078125, 129.33984375)"
8916356,5198,0,0.13,0,T,Camera,"at (151.25, 22.86328125)"
8916357,5198,0,0.14,0,T,Camera,"at (152.16796875, 23.98828125)"
8916358,5198,0,0.14,0,T,Camera,"at (153.1953125, 25.01171875)"
8916359,5198,0,0.14,0,T,Camera,"at (154.3203125, 26.03515625)"
8916360,5198,0,0.16,0,T,Camera,"at (153.6015625, 26.03515625)"
8916361,5198,0,0.16,0,T,Camera,"at (152.4765625, 24.91015625)"
8916362,5198,0,0.16,0,T,Camera,"at (151.3515625, 23.78515625)"
8916363,5198,0,0.16,0,T,Camera,"at (149.30078125, 21.328125)"
8916364,5198,0,0.16,1,P,Camera,"at (27.05078125, 128.05859375)"
8916365,5198,0,0.16,1,P,Camera,"at (27.05078125, 127.05859375)"
8916366,5198,0,0.17,1,P,Camera,"at (27.05078125, 125.8046875)"
8916367,5198,0,0.21,1,P,Selection,['Probe [3680001]']
8916368,5198,0,0.21,0,T,Selection,['SCV [3240001]']
8916369,5198,0,0.23,0,T,Right Click,"Location: (143.744384765625, 25.9560546875, 49..."
8916370,5198,0,0.23,0,T,Right Click,"Location: (139.238037109375, 33.6083984375, 49..."
8916371,5198,0,0.23,0,T,Camera,"at (149.30078125, 21.94140625)"
8916372,5198,0,0.23,0,T,Camera,"at (149.30078125, 24.296875)"
8916373,5198,0,0.23,0,T,Camera,"at (149.30078125, 27.77734375)"
8916374,5198,0,0.23,0,T,Camera,"at (149.30078125, 28.59765625)"
8916375,5198,0,0.23,0,T,Camera,"at (149.30078125, 29.2109375)"
8916376,5198,0,0.23,0,T,Right Click,"Location: (141.55029296875, 34.504150390625, 4..."
8916377,5198,0,0.24,0,T,Camera,"at (148.7890625, 29.62109375)"
8916378,5198,0,0.24,0,T,Right Click,"Location: (127.5546875, 46.979248046875, 32923)"
8916379,5198,0,0.24,0,T,Camera,"at (146.43359375, 31.9765625)"
8916380,5198,0,0.24,1,P,Camera,"at (27.05078125, 125.21875)"
8916381,5198,0,0.24,0,T,Camera,"at (145.6171875, 33.203125)"
8916382,5198,0,0.24,0,T,Right Click,"Location: (142.763427734375, 38.4853515625, 50..."
8916383,5198,0,0.24,1,P,Right Click,"Location: (29.393798828125, 120.788330078125, ..."
8916384,5198,0,0.24,1,P,Right Click,"Location: (29.364990234375, 120.61376953125, 4..."
8916385,5198,0,0.25,0,T,Right Click,"Location: (144.493896484375, 35.62939453125, 4..."
8916386,5198,0,0.25,0,T,Right Click,"Location: (143.936279296875, 35.923828125, 49142)"
8916387,5198,0,0.25,1,P,Camera,"at (29.203125, 121.50390625)"
8916388,5198,0,0.25,1,P,Camera,"at (30.890625, 119.40625)"
8916389,5198,0,0.25,1,P,Camera,"at (30.890625, 118.125)"
8916390,5198,0,0.26,1,P,Camera,"at (30.890625, 114.74609375)"
8916391,5198,0,0.26,1,P,Right Click,"Location: (28.09375, 113.210693359375, 42286)"
8916392,5198,0,0.27,1,P,Camera,"at (30.890625, 113.05859375)"
8916393,5198,0,0.27,1,P,Camera,"at (30.890625, 111.95703125)"
8916394,5198,0,0.27,1,P,Right Click,"Location: (30.602294921875, 112.7705078125, 42..."
8916395,5198,0,0.27,1,P,Right Click,"Location: (28.161865234375, 112.27001953125, 4..."
8916396,5198,0,0.28,1,P,Camera,"at (30.890625, 110.828125)"
8916397,5198,0,0.28,1,P,Camera,"at (30.890625, 110.546875)"
8916398,5198,0,0.28,1,P,Right Click,"Location: (27.17919921875, 114.03857421875, 42..."
8916399,5198,0,0.28,0,T,Ability,"(1021) - BuildSupplyDepot; Location: (146.0, 3..."
8916400,5198,0,0.28,1,P,Right Click,"Location: (29.23095703125, 111.451416015625, 4..."
8916401,5198,0,0.29,1,P,Camera,"at (30.609375, 110.546875)"
8916402,5198,0,0.29,1,P,Camera,"at (29.43359375, 109.37109375)"
8916403,5198,0,0.29,1,P,Camera,"at (28.61328125, 108.55078125)"
8916404,5198,0,0.29,1,P,Camera,"at (26.38671875, 106.32421875)"
8916405,5198,0,0.29,1,P,Camera,"at (26.38671875, 106.04296875)"
8916406,5198,0,0.29,1,P,Right Click,"Location: (29.967529296875, 103.803955078125, ..."
8916407,5198,0,0.30,0,T,Camera,"at (145.6171875, 33.0)"
8916408,5198,0,0.30,0,T,Camera,"at (145.6171875, 31.875)"
8916409,5198,0,0.30,0,T,Camera,"at (148.99609375, 28.49609375)"
8916410,5198,0,0.30,1,P,Camera,"at (26.38671875, 105.3515625)"
8916411,5198,0,0.30,1,P,Camera,"at (28.12890625, 103.609375)"
8916412,5198,0,0.30,0,T,Camera,"at (149.5078125, 26.03515625)"
8916413,5198,0,0.30,1,P,Right Click,"Location: (32.359619140625, 104.276611328125, ..."
8916414,5198,0,0.30,0,T,Camera,"at (149.5078125, 23.88671875)"
8916415,5198,0,0.30,1,P,Right Click,"Location: (31.578125, 103.832763671875, 40941)"
8916416,5198,0,0.31,1,P,Camera,"at (29.125, 102.96875)"
8916417,5198,0,0.31,0,T,Selection,['OrbitalCommand [3100001]']
8916418,5198,0,0.31,1,P,Camera,"at (30.37890625, 100.87109375)"
8916419,5198,0,0.31,1,P,Right Click,"Location: (32.070068359375, 99.6064453125, 40941)"
8916420,5198,0,0.32,0,T,Ability,(1360) - TrainSCV
8916421,5198,0,0.32,1,P,Ability,"(1541) - BuildPylon; Location: (32.0, 102.0, 4..."
8916422,5198,0,0.36,1,P,Camera,"at (28.62890625, 125.62109375)"
8916423,5198,0,0.36,1,P,Selection,['Nexus [3440001]']
8916424,5198,0,0.37,1,P,Ability,(15E0) - TrainProbe
8916425,5198,0,0.40,1,P,Selection,['Probe [3680001]']
8916426,5198,0,0.40,1,P,Right Click,"Location: (38.19482421875, 96.962646484375, 40..."
8916427,5198,0,0.40,1,P,Right Click,"Location: (35.74853515625, 95.008056640625, 40..."
8916428,5198,0,0.41,1,P,Camera,"at (34.58984375, 98.62890625)"
8916429,5198,0,0.41,1,P,Right Click,"Location: (123.071533203125, 10.0, 32752)"
8916430,5198,0,0.42,1,P,Right Click,"Location: (125.822265625, 14.19775390625, 32815)"
8916431,5198,0,0.42,1,P,Right Click,"Location: (126.28076171875, 14.664306640625, 3..."
8916432,5198,0,0.42,1,P,Camera,"at (137.73828125, 21.31640625)"
8916433,5198,0,0.43,0,T,Camera,"at (149.5078125, 24.296875)"
8916434,5198,0,0.43,0,T,Camera,"at (149.5078125, 25.21875)"
8916435,5198,0,0.43,0,T,Camera,"at (149.5078125, 27.3671875)"
8916436,5198,0,0.43,1,P,Camera,"at (138.96875, 23.7265625)"
8916437,5198,0,0.43,1,P,Camera,"at (141.1953125, 25.953125)"
8916438,5198,0,0.43,1,P,Camera,"at (145.47265625, 30.2265625)"
8916439,5198,0,0.43,1,P,Camera,"at (145.703125, 32.66015625)"
8916440,5198,0,0.43,1,P,Camera,"at (145.703125, 33.70703125)"
8916441,5198,0,0.43,1,P,Camera,"at (145.703125, 35.98828125)"
8916442,5198,0,0.44,1,P,Camera,"at (145.703125, 36.2421875)"
8916443,5198,0,0.44,1,P,Right Click,"Location: (147.54638671875, 45.40673828125, 40..."
8916444,5198,0,0.44,0,T,Camera,"at (149.5078125, 26.55078125)"
8916445,5198,0,0.44,0,T,Camera,"at (149.5078125, 25.3203125)"
8916446,5198,0,0.45,0,T,Camera,"at (149.5078125, 23.578125)"
8916447,5198,0,0.45,1,P,Right Click,"Location: (141.538818359375, 36.93115234375, 4..."
8916448,5198,0,0.46,1,P,Camera,"at (145.0625, 36.2421875)"
8916449,5198,0,0.46,1,P,Camera,"at (143.91015625, 35.34765625)"
8916450,5198,0,0.46,1,P,Camera,"at (141.7578125, 32.9140625)"

In [36]:
train_df[train_df.game_id==14892].sort_values('time').head(100)

,game_id,winner,time,player,species,event,event_contents
25734328,14892,0,0.00,0,P,Camera,"at (24.75, 137.0078125)"
25734329,14892,0,0.00,1,Z,Camera,"at (127.25, 27.5078125)"
25734330,14892,0,0.01,0,P,Selection,['Nexus [3380001]']
25734331,14892,0,0.01,0,P,Ability,(15E0) - TrainProbe
25734332,14892,0,0.01,0,P,SetControlGroup,NaN
25734335,14892,0,0.02,1,Z,Selection,['Egg [3700001]']
25734336,14892,0,0.02,0,P,Selection,['Probe [3680001]']
25734333,14892,0,0.02,1,Z,Selection,['Lair [36C0001]']
25734334,14892,0,0.02,1,Z,Ability,(1820) - MorphDrone
25734337,14892,0,0.03,0,P,SetControlGroup,NaN
25734338,14892,0,0.03,0,P,SetControlGroup,NaN
25734339,14892,0,0.03,1,Z,Selection,['Lair [36C0001]']
25734340,14892,0,0.04,0,P,Selection,['Nexus [3380001]']
25734341,14892,0,0.04,1,Z,SetControlGroup,NaN
25734342,14892,0,0.04,1,Z,SetControlGroup,NaN
25734346,14892,0,0.05,0,P,GetControlGroup,NaN
25734345,14892,0,0.05,0,P,GetControlGroup,NaN
25734343,14892,0,0.05,0,P,GetControlGroup,NaN
25734344,14892,0,0.05,1,Z,Selection,"['Egg [3740001]', 'Egg [3780001]']"
25734347,14892,0,0.06,1,Z,Right Click,"Location: (116.6572265625, 30.361328125, 49135)"
25734348,14892,0,0.06,1,Z,Right Click,"Location: (114.060302734375, 25.25390625, 49135)"
25734349,14892,0,0.06,0,P,GetControlGroup,NaN
25734350,14892,0,0.06,1,Z,Camera,"at (124.2421875, 28.7578125)"
25734351,14892,0,0.06,1,Z,Camera,"at (123.06640625, 28.7578125)"
25734352,14892,0,0.07,1,Z,Right Click,"Location: (49.255126953125, 141.240234375, 45719)"
25734353,14892,0,0.07,0,P,GetControlGroup,NaN
25734354,14892,0,0.07,1,Z,SetControlGroup,NaN
25734355,14892,0,0.07,1,Z,Camera,"at (125.5, 28.7578125)"
25734356,14892,0,0.07,0,P,GetControlGroup,NaN
25734358,14892,0,0.08,1,Z,Selection,['Lair [36C0001]']
25734357,14892,0,0.08,0,P,GetControlGroup,NaN
25734359,14892,0,0.08,0,P,GetControlGroup,NaN
25734361,14892,0,0.09,0,P,GetControlGroup,NaN
25734360,14892,0,0.09,0,P,GetControlGroup,NaN
25734362,14892,0,0.10,1,Z,Selection,['Lair [36C0001]']
25734363,14892,0,0.10,1,Z,Selection,"['Egg [3740001]', 'Egg [3780001]']"
25734364,14892,0,0.10,0,P,GetControlGroup,NaN
25734365,14892,0,0.11,1,Z,Selection,"['Drone [3840001]', 'Drone [38C0001]', 'Drone ..."
25734366,14892,0,0.11,1,Z,Ability,(480) - Stop
25734369,14892,0,0.12,1,Z,Right Click,Target: DestructibleSignsConstruction [025C000...
25734367,14892,0,0.12,1,Z,Ability,(5A0) - Attack; Target: Lair [036C0001]; Locat...
25734368,14892,0,0.12,1,Z,Right Click,"Location: (131.561767578125, 24.806396484375, ..."
25734370,14892,0,0.13,1,Z,Ability,(480) - Stop
25734371,14892,0,0.13,1,Z,Selection,['Lair [36C0001]']
25734372,14892,0,0.13,1,Z,Selection,"['Egg [3740001]', 'Egg [3780001]']"
25734373,14892,0,0.13,1,Z,Selection,['Egg [3740001]']
25734374,14892,0,0.15,1,Z,Selection,"['Drone [37C0001]', 'Drone [3800001]', 'Drone ..."
25734375,14892,0,0.16,1,Z,Right Click,Target: DestructibleSignsConstruction [025C000...
25734376,14892,0,0.17,1,Z,Selection,['Lair [36C0001]']
25734377,14892,0,0.17,1,Z,Selection,"['Egg [3780001]', 'Egg [3B40001]']"
25734378,14892,0,0.18,1,Z,Selection,['Lair [36C0001]']
25734379,14892,0,0.19,0,P,GetControlGroup,NaN
25734380,14892,0,0.19,1,Z,Camera,"at (125.5, 28.7578125)"
25734381,14892,0,0.20,0,P,GetControlGroup,NaN
25734382,14892,0,0.20,0,P,GetControlGroup,NaN
25734383,14892,0,0.20,1,Z,Camera,"at (128.2109375, 25.09765625)"
25734384,14892,0,0.21,0,P,GetControlGroup,NaN
25734385,14892,0,0.21,0,P,GetControlGroup,NaN
25734386,14892,0,0.21,1,Z,Selection,"['Egg [3780001]', 'Egg [3B40001]']"
25734387,14892,0,0.21,1,Z,Camera,"at (130.2578125, 24.9140625)"
25734388,14892,0,0.21,0,P,GetControlGroup,NaN
25734389,14892,0,0.22,0,P,GetControlGroup,NaN
25734390,14892,0,0.22,0,P,GetControlGroup,NaN
25734391,14892,0,0.22,1,Z,Camera,"at (130.640625, 24.8828125)"
25734392,14892,0,0.22,1,Z,Camera,"at (125.5, 28.7578125)"
25734397,14892,0,0.23,0,P,GetControlGroup,NaN
25734398,14892,0,0.23,0,P,GetControlGroup,NaN
25734396,14892,0,0.23,1,Z,Camera,"at (125.5, 28.7578125)"
25734395,14892,0,0.23,0,P,Selection,['Probe [35C0001]']
25734394,14892,0,0.23,1,Z,Camera,"at (130.640625, 24.8828125)"
25734393,14892,0,0.23,0,P,Selection,"['Probe [33C0001]', 'Probe [3400001]', 'Probe ..."
25734399,14892,0,0.24,1,Z,Camera,"at (130.640625, 24.8828125)"
25734400,14892,0,0.25,1,Z,Camera,"at (130.5234375, 24.96875)"
25734401,14892,0,0.26,0,P,Ability,"(1541) - BuildPylon; Location: (25.0, 134.0, 4..."
25734402,14892,0,0.26,1,Z,Camera,"at (129.31640625, 25.87890625)"
25734403,14892,0,0.26,1,Z,Camera,"at (125.5, 28.7578125)"
25734404,14892,0,0.27,0,P,Ability,(F01) - ReturnCargo
25734405,14892,0,0.27,1,Z,Selection,['Lair [36C0001]']
25734406,14892,0,0.27,1,Z,Selection,"['Egg [3780001]', 'Egg [3B40001]']"
25734407,14892,0,0.28,0,P,GetControlGroup,NaN
25734408,14892,0,0.28,1,Z,Camera,"at (125.5, 28.7578125)"
25734409,14892,0,0.29,0,P,Camera,"at (26.49609375, 135.7578125)"
25734413,14892,0,0.30,1,Z,Ability,(1822) - MorphOverlord
25734412,14892,0,0.30,0,P,GetControlGroup,NaN
25734410,14892,0,0.30,1,Z,Camera,"at (130.69140625, 25.46484375)"
25734411,14892,0,0.30,1,Z,Camera,"at (125.5, 28.7578125)"
25734414,14892,0,0.31,0,P,GetControlGroup,NaN
25734415,14892,0,0.31,1,Z,Camera,"at (127.53515625, 25.62109375)"
25734416,14892,0,0.31,1,Z,Camera,"at (130.69140625, 25.46484375)"
25734417,14892,0,0.32,1,Z,Camera,"at (125.5, 28.7578125)"
25734418,14892,0,0.32,0,P,GetControlGroup,NaN
25734419,14892,0,0.32,1,Z,Camera,"at (128.99609375, 23.921875)"
25734420,14892,0,0.32,0,P,GetControlGroup,NaN
25734421,14892,0,0.33,1,Z,Selection,['Lair [36C0001]']
25734422,14892,0,0.33,1,Z,Selection,"['Egg [3740002]', 'Egg [3B40001]']"
25734423,14892,0,0.33,1,Z,Camera,"at (129.953125, 25.93359375)"
25734426,14892,0,0.34,1,Z,Camera,"at (129.2734375, 23.6015625)"
25734424,14892,0,0.34,0,P,GetControlGroup,NaN
25734425,14892,0,0.34,1,Z,Camera,"at (125.5, 28.7578125)"
25734430,14892,0,0.35,0,P,Right Click,Target: DestructibleSignsConstruction [0260000...

In [ ]:
# 1 1 0 0 0

In [9]:
# train_df[train_df.game_id==4].head()

,game_id,winner,time,player,species,event,event_contents
8807,4,0,0.00,1,Z,Camera,"at (163.25, 18.5078125)"
8808,4,0,0.00,0,T,Camera,"at (36.75, 122.0078125)"
8809,4,0,0.00,1,Z,Selection,['Lair [3440001]']
8810,4,0,0.01,0,T,Selection,['OrbitalCommand [3100001]']
8811,4,0,0.01,0,T,Ability,(1360) - TrainSCV

In [4]:
pd.unique(train_df['game_id']).shape

(38872,)

In [5]:
len(train_df)

67091776

In [6]:
train_df.describe()

            game_id        winner          time        player
count  6.709178e+07  6.709178e+07  6.709178e+07  6.709178e+07
mean   1.944981e+04  5.012076e-01  4.277912e+00  4.992699e-01
std    1.122980e+04  4.999985e-01  2.709741e+00  4.999995e-01
min    0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
25%    9.718000e+03  0.000000e+00  2.120000e+00  0.000000e+00
50%    1.948500e+04  1.000000e+00  4.150000e+00  0.000000e+00
75%    2.919700e+04  1.000000e+00  6.360000e+00  1.000000e+00
max    3.887100e+04  1.000000e+00  1.059000e+01  1.000000e+00

In [9]:
train_df.dtypes

game_id             int64
winner              int64
time              float64
player              int64
species            object
event              object
event_contents     object
dtype: object

In [27]:
# 각 게임의 첫 시작은 무조건 camera일까?
train_df[(train_df['time']==0) & (train_df['event']=='Camera')]

,game_id,winner,time,player,species,event,event_contents
0,0,1,0.0,0,T,Camera,"at (145.25, 21.5078125)"
1,0,1,0.0,1,T,Camera,"at (22.75, 147.0078125)"
1140,1,1,0.0,1,T,Camera,"at (28.0, 18.5078125)"
1141,1,1,0.0,0,P,Camera,"at (140.0, 162.0078125)"
3574,2,0,0.0,1,Z,Camera,"at (24.75, 128.0078125)"
...,...,...,...,...,...,...,...
67085605,38869,0,0.0,1,Z,Camera,"at (24.75, 128.01171875)"
67087669,38870,1,0.0,1,P,Camera,"at (31.75, 22.5078125)"
67087670,38870,1,0.0,0,P,Camera,"at (152.25, 142.0078125)"
67088668,38871,0,0.0,1,T,Camera,"at (36.75, 122.0078125)"
67088669,38871,0,0.0,0,Z,Camera,"at (163.25, 18.5078125)"

In [41]:
# event별로 나눠서 파일 각각 저장
import time
for event in ['Ability','AddToControlGroup','Camera','ControlGroup','GetControlGroup','Right Click','Selection','SetControlGroup']:
    st_t = time.time()
    tmp_df = train_df[train_df['event']==event]
    print(len(tmp_df))
    tmp_df.to_csv(os.path.join(data_folder,f'train_{event}.csv'),index=False)
    print(time.time()-st_t, event)

3798390
224.15836095809937 Ability
149340
8.821186065673828 AddToControlGroup
31629407
214.43878817558289 Camera
30719
8.476454019546509 ControlGroup
10051180
66.30337715148926 GetControlGroup
11565877
151.3728051185608 Right Click
9526159
2485.651837825775 Selection
340704
12.71446704864502 SetControlGroup

In [4]:
# event별로 나눠서 파일 각각 저장
import time
for event in ['Ability','AddToControlGroup','Camera','ControlGroup','GetControlGroup','Right Click','Selection','SetControlGroup']:
    st_t = time.time()
    tmp_df = test_df[test_df['event']==event]
    print(len(tmp_df))
    tmp_df.to_csv(os.path.join(data_folder,f'test_{event}.csv'),index=False)
    print(time.time()-st_t, event)

1631055
8.259765863418579 Ability
63479
1.3718180656433105 AddToControlGroup
13557866
40.91643691062927 Camera
12148
1.338089942932129 ControlGroup
4295095
11.975448846817017 GetControlGroup
4929970
18.50218105316162 Right Click
4077893
14.983772039413452 Selection
147343
1.6289019584655762 SetControlGroup

In [36]:
# AddToControlGroup, ControlGroup, GetControlGroup, SetControlGroup, 
# 네 개는 event_contents가 없음
# Ability, Camera, Right Click, Selection
# event_contents 복잡도
# Ability > Right Click > Selection > Camera

In [6]:
pd.read_csv(os.path.join(data_folder,'train_Ability.csv'),nrows=100).head()

,game_id,winner,time,player,species,event,event_contents
0,0,1,0.02,0,T,Ability,(1360) - TrainSCV
1,0,1,0.27,0,T,Ability,"(1021) - BuildSupplyDepot; Location: (135.0, 4..."
2,0,1,0.31,0,T,Ability,(480) - Stop
3,0,1,0.33,1,T,Ability,(1360) - TrainSCV
4,0,1,0.35,0,T,Ability,(1360) - TrainSCV

In [7]:
pd.read_csv(os.path.join(data_folder,'train_Camera.csv'),nrows=100).head()

,game_id,winner,time,player,species,event,event_contents
0,0,1,0.00,0,T,Camera,"at (145.25, 21.5078125)"
1,0,1,0.00,1,T,Camera,"at (22.75, 147.0078125)"
2,0,1,0.14,0,T,Camera,"at (142.99609375, 24.50390625)"
3,0,1,0.14,0,T,Camera,"at (142.5078125, 24.98828125)"
4,0,1,0.14,0,T,Camera,"at (139.6171875, 27.8828125)"

In [8]:
pd.read_csv(os.path.join(data_folder,'train_Right Click.csv'),nrows=100).head()

,game_id,winner,time,player,species,event,event_contents
0,0,1,0.20,0,T,Right Click,"Location: (136.3759765625, 41.11962890625, 49016)"
1,0,1,0.23,0,T,Right Click,"Location: (136.033935546875, 41.735107421875, ..."
2,0,1,1.17,0,T,Right Click,"Location: (32.222900390625, 153.720703125, 49120)"
3,0,1,1.18,0,T,Right Click,"Location: (29.195068359375, 143.441650390625, ..."
4,0,1,1.18,0,T,Right Click,"Location: (29.195068359375, 129.53466796875, 4..."

In [9]:
pd.read_csv(os.path.join(data_folder,'train_Selection.csv'),nrows=100).head()

,game_id,winner,time,player,species,event,event_contents
0,0,1,0.02,0,T,Selection,['OrbitalCommand [3080001]']
1,0,1,0.33,0,T,Selection,['OrbitalCommand [3080001]']
2,0,1,0.40,1,T,Selection,['OrbitalCommand [33C0001]']
3,0,1,0.47,0,T,Selection,['SCV [3280001]']
4,0,1,1.06,0,T,Selection,['CreepOnlyBlocker4x4 [1B00001]']

In [39]:
# 승/패 LABEL csv로 따로 저장
tmp_df = train_df[['game_id','winner','player','species']].drop_duplicates()
tmp_df1 = tmp_df.pivot(index = 'game_id',columns='player',values='species').reset_index()
tmp_df2 = train_df[['game_id','winner']].drop_duplicates()
tmp_df = pd.merge(tmp_df1, tmp_df2,on='game_id')
tmp_df.to_csv(os.path.join(data_folder,'train_species_labels.csv'),index=False)

In [59]:
# 게임별, 플레이어별 각 action별 count 수 따로 csv로 저장
tmp_df = train_df[['game_id','player','event','time']].groupby(['game_id','player','event']).count().reset_index()
tmp_df['player_event'] = tmp_df['player'].astype(str) + '_'+tmp_df['event']
tmp_df.pivot(index='game_id',columns='player_event',values='time').fillna(0).reset_index().to_csv(os.path.join(data_folder,'train_action_count.csv'),index=False)

# kernel reset

In [1]:
import pandas as pd
import numpy as np
import os, sys
data_folder = '/Users/a80099928/PycharmProjects/dacon_star2_data/'
pd.options.display.max_rows=1000

In [2]:
df = pd.read_csv(os.path.join(data_folder,'train_species_labels.csv'))
df1 = pd.read_csv(os.path.join(data_folder,'train_action_count.csv'))

In [3]:
df.head()

   game_id  0  1  winner
0        0  T  T       1
1        1  P  T       1
2        2  P  Z       0
3        3  T  P       0
4        4  T  Z       0

In [3]:
df1.head()

,game_id,0_Ability,0_AddToControlGroup,0_Camera,0_ControlGroup,0_GetControlGroup,0_Right Click,0_Selection,0_SetControlGroup,1_Ability,1_AddToControlGroup,1_Camera,1_ControlGroup,1_GetControlGroup,1_Right Click,1_Selection,1_SetControlGroup
0,0,34.0,2.0,444.0,0.0,24.0,35.0,50.0,3.0,34.0,0.0,425.0,0.0,3.0,28.0,57.0,1.0
1,1,77.0,1.0,627.0,0.0,162.0,160.0,186.0,10.0,67.0,0.0,858.0,0.0,31.0,131.0,116.0,8.0
2,2,69.0,6.0,413.0,0.0,99.0,160.0,90.0,14.0,85.0,5.0,725.0,2.0,109.0,204.0,232.0,9.0
3,3,82.0,0.0,713.0,0.0,132.0,276.0,180.0,6.0,89.0,0.0,388.0,0.0,710.0,268.0,148.0,19.0
4,4,57.0,1.0,430.0,0.0,224.0,177.0,67.0,10.0,36.0,4.0,272.0,0.0,99.0,106.0,126.0,8.0

In [4]:
df = pd.merge(df, df1, on='game_id')

In [5]:
# 플레이어 종족, event별 action count만 갖고 lightGBM 돌려보자

In [6]:
df['species0_T'] = df['0'].map(lambda x: 1 if x=='T' else 0)
df['species0_P'] = df['0'].map(lambda x: 1 if x=='P' else 0)
df['species0_Z'] = df['0'].map(lambda x: 1 if x=='Z' else 0)
df['species1_T'] = df['1'].map(lambda x: 1 if x=='T' else 0)
df['species1_P'] = df['1'].map(lambda x: 1 if x=='P' else 0)
df['species1_Z'] = df['1'].map(lambda x: 1 if x=='Z' else 0)

In [7]:
df.head()

,game_id,0,1,winner,0_Ability,0_AddToControlGroup,0_Camera,0_ControlGroup,0_GetControlGroup,0_Right Click,...,1_GetControlGroup,1_Right Click,1_Selection,1_SetControlGroup,species0_T,species0_P,species0_Z,species1_T,species1_P,species1_Z
0,0,T,T,1,34.0,2.0,444.0,0.0,24.0,35.0,...,3.0,28.0,57.0,1.0,1,0,0,1,0,0
1,1,P,T,1,77.0,1.0,627.0,0.0,162.0,160.0,...,31.0,131.0,116.0,8.0,0,1,0,1,0,0
2,2,P,Z,0,69.0,6.0,413.0,0.0,99.0,160.0,...,109.0,204.0,232.0,9.0,0,1,0,0,0,1
3,3,T,P,0,82.0,0.0,713.0,0.0,132.0,276.0,...,710.0,268.0,148.0,19.0,1,0,0,0,1,0
4,4,T,Z,0,57.0,1.0,430.0,0.0,224.0,177.0,...,99.0,106.0,126.0,8.0,1,0,0,0,0,1

In [8]:
df.columns

Index(['game_id', '0', '1', 'winner', '0_Ability', '0_AddToControlGroup',
       '0_Camera', '0_ControlGroup', '0_GetControlGroup', '0_Right Click',
       '0_Selection', '0_SetControlGroup', '1_Ability', '1_AddToControlGroup',
       '1_Camera', '1_ControlGroup', '1_GetControlGroup', '1_Right Click',
       '1_Selection', '1_SetControlGroup', 'species0_T', 'species0_P',
       'species0_Z', 'species1_T', 'species1_P', 'species1_Z'],
      dtype='object')

In [9]:
_ftr = list(set(df.columns) - set(['game_id','winner','0','1']))

In [10]:
from sklearn.model_selection import train_test_split

In [11]:
train_data, test_data = train_test_split(df, test_size=0.2, random_state=1)
train_data, valid_data = train_test_split(train_data, test_size=0.4, random_state=2)

train_data, valid_data = train_test_split(df, test_size=0.4, random_state=2)

In [12]:
print('train_data: ',train_data.shape)
print('valid_data: ',valid_data.shape)
print('test_data: ',test_data.shape)

train_data:  (18658, 26)
valid_data:  (12439, 26)
test_data:  (7775, 26)

print('train_data: ',train_data.shape)
print('valid_data: ',valid_data.shape)

In [13]:
X_train, y_train = train_data[_ftr], train_data['winner']
X_valid, y_valid = valid_data[_ftr], valid_data['winner']
X_test, y_test = test_data[_ftr], test_data['winner']

X_train, y_train = train_data[_ftr], train_data['winner']
X_valid, y_valid = valid_data[_ftr], valid_data['winner']

In [14]:
import lightgbm as lgb
lgb_train_data = lgb.Dataset(X_train, label=y_train)
lgb_valid_data = lgb.Dataset(X_valid, label=y_valid)

/Users/a80099928/opt/anaconda3/lib/python3.7/site-packages/lightgbm/__init__.py:48: UserWarning: Starting from version 2.2.1, the library file in distribution wheels for macOS is built by the Apple Clang (Xcode_8.3.3) compiler.
This means that in case of installing LightGBM from PyPI via the ``pip install lightgbm`` command, you don't need to install the gcc compiler anymore.
Instead of that, you need to install the OpenMP library, which is required for running LightGBM on the system with the Apple Clang compiler.
You can install the OpenMP library by the following command: ``brew install libomp``.
  "You can install the OpenMP library by the following command: ``brew install libomp``.", UserWarning)

In [15]:
num_threads, learning_rate = 12,0.05
params = {'boosting_type': 'gbdt', 
         'objective': 'binary',
         'num_threads' : num_threads, 'learning_rate' : learning_rate,
         'vervosity':0}
bst = lgb.train(params, lgb_train_data,
               num_boost_round = 5000,
               early_stopping_rounds=10,
               valid_sets=[lgb_valid_data],
               verbose_eval=False)

In [16]:
from sklearn.metrics import roc_auc_score
predict_test = bst.predict(X_test)

In [17]:
auc = roc_auc_score(y_test, predict_test)

In [18]:
auc # 0.6448508548486072

0.6448508548486072

bst.save_model(os.path.join(data_folder,'baseline_0303.model'))